.button {
    height: 1.75rem; /* 7 * 0.25rem */
    width: 1.75rem; /* 7 * 0.25rem */
    border-radius: 0.125rem; /* rounded-sm */
  }
  
  /* Styles for the Checkboard component inside the button */
  .checkboard {
    height: 0.875rem; /* 3.5 * 0.25rem */
    width: 0.875rem; /* 3.5 * 0.25rem */
    border-radius: 0.25rem; /* rounded-[4px] */
  }
  
  /* Styles for the div with background color inside the button */
  .color-div {
    height: 0.875rem; /* 3.5 * 0.25rem */
    width: 0.875rem; /* 3.5 * 0.25rem */
    border-radius: 0.25rem; /* rounded-[4px] */
  }