

.option-panel {
    position: fixed;
    top: 10%;
    left: 1rem; /* 4 * 0.25rem */
    width: 10rem; /* 40 * 0.25rem */
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem; /* rounded-lg */
    overflow: auto;
    user-select: none;
  }
  
  .option-panel.h54 {
    height: 54%;
  }
  
  .option-panel.max-h-384 {
    max-height: 24rem; /* 384px */
  }
  
  .option-panel.max-h-324 {
    max-height: 20.25rem; /* 324px */
  }
  
  .option-panel.hidden {
    display: none;
  }
  
  .option-panel-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem; /* p-4 */
    gap: 0.5rem; /* space-y-2 */
  }
  
  .option-title {
    font-size: 0.75rem; /* text-xs */
    padding: 0.25rem; /* px-[1px] py-1 */
  }
  
  .checkboard {
    height: 0.875rem; /* 3.5 * 0.25rem */
    width: 0.875rem; /* 3.5 * 0.25rem */
    border-radius: 0.25rem; /* rounded-[4px] */
  }
  
  .color-div {
    height: 0.875rem; /* 3.5 * 0.25rem */
    width: 0.875rem; /* 3.5 * 0.25rem */
    border-radius: 0.25rem; /* rounded-[4px] */
  }
  
  /* Add any other specific styles you need for the ToggleGroup, ToggleGroupItem, Separator, etc. */
  