/* ToolBar.module.css */

.toolbarContainer {
    position: fixed;
    top: 1rem; /* Tailwind's 'top-4' */
    left: 50%;
    transform: translateX(-50%); /* Tailwind's '-translate-x-1/2' */
    background-color: #ffffff; /* Tailwind's 'bg-white' */
    padding: 0.25rem 1rem; /* Tailwind's 'px-4 py-1' */
    border-radius: 0.5rem; /* Tailwind's 'rounded-lg' */
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1); /* Tailwind's 'shadow-md' */
    user-select: none; /* Tailwind's 'select-none' */
  }
  
  .toggleGroupItemContainer {
    position: relative;
    color: #9ca3af; /* Tailwind's 'text-gray-400' */
  }
  
  .toggleGroupItem {
    padding: 0 0.75rem; /* Tailwind's 'px-3' */
  }
  
  .icon {
    height: 0.75rem; /* Tailwind's 'h-3' */
    width: 0.75rem; /* Tailwind's 'w-3' */
  }
  
  .shortcutLabel {
    position: absolute;
    font-size: 0.625rem; /* Tailwind's 'text-[0.625rem]' */
    bottom: 0.0625rem; /* Tailwind's 'bottom-[1px]' */
    right: 0.125rem; /* Tailwind's 'right-[2px]' */
  }
  