.Graph {
  padding: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 16px;
  justify-items: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #90caf9;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}
